.main {
    display: flex;
}

.squares-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 14px;
    height: 14px;
    border: black 1px solid;
}